<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>HomePage</title>
</head>

<body>
    <h1>Concert Companion</h1>
    <p>you rnumber one companion to music festivals</p>

    <form id="artistForm" method="post">
        <label for="artist">Enter Performing Artists</label>
        <input type="text" id="artist" name="artist">
        <button type="submit">Submit</button>
    </form>

    <!-- <script>
        const t = document.getElementById('token').innerText;
        console.log(t);
        document.getElementById('artistForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the form submission
            const token = localStorage.getItem("token");
            const performingArtist = document.getElementById('artist').value;
            //const artists = artistsInput.value.split(',').map(artist => artist.trim()).join(" ");
            fetch(`https://api.spotify.com/v1/search?q=${performingArtist}&type=artist&limit=1&offset=0`,
                { headers: { Authorization: `Bearer ${t}` } }
            )
                .then(res => res.json())
                .then(data => {
                    console.log(data);
                    const artist = data.artists.items.map(artist => ({
                        name: artist.name,
                        id: artist.id,
                        genres: artist.genres
                    }));
                    console.log(artist);
                });
        });
    </script> -->
</body>

</html>