<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Concert Companion</h1>
    <p>you rnumber one companion to music festivals</p>

    <form id="artistForm">
        <label for="artist">Enter Performing Artists</label>
        <input type="text" id="artist" name="artist">
        <button type="submit">Submit</button>
    </form>

    <script>
        document.getElementById('artistForm').addEventListener('submit', function (event) {
            const artistsInput = document.getElementById('artist');
            const artists = artistsInput.value.split(',').map(artist => artist.trim());

            if (artists.length < 2 || artists.length > 4) {
                alert('Please enter between 2 and 4 artists.');
                event.preventDefault(); // Prevent the form submission
            }
        });
    </script>
</body>

</html>