<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concert Companion</title>
    <link rel="icon" type="image/x-icon" href="/img/Concert_companion_white">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist&display=swap" rel="stylesheet">
</head>

<body>

    <div class="main-container">
        <section>
            <h1>Concert Companion</h1>
        </section>

        <p>your number one companion to music festivals</p>
    </div>



    <form action="/login" method="POST">
        <div class="container">
            <button class="my-button">Login with Spotify</button>
        </div>
    </form>
</body>

</html>