body {
    font-family: 'Urbanist', sans-serif;
    background-color: #191414;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.my-button {
    border-radius: 8px;
    width: 250px;
    height: 80px;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.4s;
}

.my-button:hover {
    box-shadow: 0 12px 16px 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #eceaea;
}

section h1 {
    font-size: 70px;
    font-weight: 600;
}

p {
    font-style: italic;
}


.form-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-container {
    margin-top: 50px;
}

.logo-container img {
    width: 200px;
    height: auto;
}

input,
button {
    display: block;
    margin: 0 auto;
}

.form-container {
    margin-top: 50px;
}

.label {
    font-weight: bold;
    color: #eceaea;
    font-size: 20px;
    text-align: center;
}

input {
    width: 300px;
    height: 50px;
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    color: #000;
}

button {
    width: 150px;
    height: 50px;
    margin: 20px auto;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    background-color: #1db954;
    color: #eceaea;
    cursor: pointer;
    display: block;
}

button:hover {
    background-color: #1ed760;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #eceaea;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}